<%- include('../partials/header')  %>   
<a href="/edit/intervention" class="positive right floated ui button">add</a>
<table class="ui unstackable table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="right aligned">File Name</th>
        <th class="right aligned">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Approved</td>
        <td class="right aligned">None</td>
        <td class="right aligned"><i class="pencil alternate icon"></i> <i class="trash red icon"></i></td>
      </tr>
      <tr>
        <td>Jamie</td>
        <td>Approved</td>
        <td class="right aligned">Requires call</td>
        <td class="right aligned"><i class="pencil alternate icon"></i> <i class="trash red icon"></i></td>

      </tr>
      <tr>
        <td>Jill</td>
        <td>Denied</td>
        <td class="right aligned">None</td>
        <td class="right aligned"><i class="pencil alternate icon"></i> <i class="trash red icon"></i></td>

      </tr>
    </tbody>
  </table>

<%- include('../partials/footer')  %> 

