<%- include('../partials/header') %>
  <% if(messages.error) {%>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        Error 
      </div>
      <p><%= messages.error %>
      </p>
    </div>
    <% } %>
      <form action="/login" method="POST" class="ui form">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui green left floated button">Login</button>
        <a href="/register" class="ui right floated button">Register</a>
      </form>
      <%- include('../partials/footer') %>